.portfolio {
  width: 100%;

  padding-left: 0;
  padding-right: 0;

  background-color: rgba(0, 0, 0, 0.2);
}
.title {
  height: 25vh;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.card {
  height: 60vh;
}
