.sectionOne {
  background-image: url("/img/sectionOneBg.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-attachment: fixed;
}